<%= form_with url: session_path, class: "max-w-sm authentication" do |form| %>

  <div class="mb-5">
    <label for="email_address">Email</label>
    <%= form.email_field :email_address,
          required: true,
          autofocus: true,
          autocomplete: "username",
          placeholder: "Enter your email address",
          value: params[:email_address] %>
  </div>

  <div>
    <label for="password">Password</label>
    <%= form.password_field :password,
          required: true,
          autocomplete: "current-password",
          maxlength: 72 %><br>
  </div>

  <div class="flex justify-between">
    <%= form.button "Sign in" %>

    <%= link_to "Forgot password?", new_password_path,
          class: "content-center font-medium text-blue-600 dark:text-blue-500 hover:underline hover:text-blue-800" %>
  </div>
<% end %>
