<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path, class: "max-w-sm" do |form| %>

  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
    <%= form.email_field :email_address,
          required: true,
          autofocus: true,
          autocomplete: "username",
          placeholder: "Enter your email address",
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          value: params[:email_address] %>
  </div>

  <div>
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
    <%= form.password_field :password,
          required: true,
          autocomplete: "current-password",
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          maxlength: 72 %><br>
  </div>

  <div class="flex justify-between">
    <%= form.button "Sign in", class: "btn-primary" %>

    <%= link_to "Forgot password?", new_password_path,
          class: "content-center font-medium text-blue-600 dark:text-blue-500 hover:underline hover:text-blue-800" %>
  </div>
<% end %>
