<%= form_with(model: film, data: { turbo: false }) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
        <% film.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="my-5 max-w-sm">
    <%= form.label :release_year %>
    <%= form.number_field :release_year %>
  </div>

  <% @company_options = company_options %>

  <div class="my-5">
    <%= form.label :production_company_id %>
    <%= form.select :production_company_id, @company_options %>
  </div>

  <div class="my-5">
    <%= form.label :distributor_id %>
    <%= form.select :distributor_id, @company_options %>
  </div>

  <%= render 'shared/form_buttons', form: form %>
<% end %>
