    <%= link_to film,  class: "tile bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100" do %>
        <div class="poster">
            <%= film_poster(film, 500) %>
        </div>
        <div class="film-info">
            <h5 class="mb-2 text-2xl font-bold tracking-tight"><%= film.name %></h5>
            <%= tag.p("Filmed at #{film.location_names.to_sentence}.") unless film.location_names.empty? %>
            <p>Starring <%= film.actors.map(&:name).to_sentence %>.</p>
            <p>Directed by <%= film.directors.to_sentence %>, <%= film.release_year %>.</p>
        </div>
    <% end %>
