<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Films</h1>
  </div>

  <div class="my-3"
      data-controller="quicksearch"
      data-quicksearch-placeholder-value="Search for films"
      data-quicksearch-sources-value=<%= ["NameContainsSource", "FilmsSource", "LocationsSource", "DirectorsSource", "WritersSource", "ActorsSource"].to_json %>
    >
    <div class="my-3" data-quicksearch-target="searchInput"></div>
  </div>

  <%= form_with url: films_path, scope: :filter,
                                   method: :get,
                                   data: { controller: "filter",
                                           action: "autocompleteSelection@document->filter#add" } do |form| %>
    <div class="flex flex-row">

      <div>
        <%= render @filter_chips, form: form %>
      </div>

      <div class="ml-auto flex">
        <%= label_tag 'filter[sort]', 'Sort By: ', class: 'self-center mr-1' %>
        <%= select_tag 'filter[sort]', 
          options_for_select({ 'Newest first' => '-release_year',
                              'Oldest first' => 'release_year',
                              'Film name' => 'name' },
                             params.dig('filter', 'sort') || 'release_year'),
            class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500',
            data: { controller: 'submit',
                  action: 'submit#submit' } %>
      </div>

    </div>

  <% end %>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <%= render partial: 'tile', collection: @films, as: :film %>
  </div>
  <%= paginate(@films, @query_params)%>

</div>
