<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Films</h1>
  </div>

  <%= quick_search({ name: 'NameContainsSource',
                     films: 'FilmsJumpToSource',
                     location_id: 'LocationsSource',
                     director_id: 'DirectorsSource',
                     writer_id: 'WritersSource',
                     actor_id: 'ActorsSource' },
                   placeholder: 'Search for films',
                   class: 'my-3') %>

  <%= form_with url: films_path, 
                scope: :filter,
                method: :get,
                data: { controller: "filter",
                        action: "autocompleteSelection@document->filter#add" } do |form| %>
    <div class="flex flex-row">

      <div>
        <%= render @filter_chips, form: form %>
      </div>

      <div class="ml-auto flex">
        <%= label_tag 'filter[sort]', 'Sort By: ', class: 'self-center mr-1' %>
        <%= select_tag 'filter[sort]', 
          options_for_select({ 'Newest first' => '-release_year',
                              'Oldest first' => 'release_year',
                              'Film name' => 'name' },
                             params.dig('filter', 'sort') || 'release_year'),
            class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500',
            data: { controller: 'submit',
                  action: 'submit#submit' } %>
      </div>

    </div>

  <% end %>

  <div class="tiles">
    <%= render partial: 'tile', collection: @films, as: :film %>
  </div>
  <%= paginate(@films, @query_params)%>

</div>
