<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Films</h1>
    <%= link_to 'New film', new_film_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="my-3"
      data-controller="quicksearch"
      data-quicksearch-placeholder-value="Search for films"
      data-quicksearch-sources-value=<%= ["NameContainsSource", "FilmsSource", "LocationsSource", "DirectorsSource", "WritersSource", "ActorsSource"].to_json %>
    >
    <div class="my-3" data-quicksearch-target="searchInput"></div>
  </div>

  <div>
    <%= form_with url: films_path, scope: :filter,
                                   method: :get,
                                   data: { controller: "filter",
                                           action: "autocompleteSelection@document->filter#add" } do |form| %>
      <%= render @filter_chips, form: form %>
    <% end %>
  </div>

  <%= render @films %>
  <%= paginate(@films)%>

</div>
