<section class="max-w-sm">
  <h1 class="font-bold text-2xl mb-5">Update your password</h1>

  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

  <%= form_with url: password_path(params[:token]), method: :put do |form| %>

    <%= form.password_field :password,
          required: true,
          placeholder: "Enter new password",
          autocomplete: false,
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          maxlength: 72 %><br>

    <%= form.password_field :password_confirmation,
          required: true,
          placeholder: "Repeat new password",
          autocomplete: false,
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          maxlength: 72 %><br>

    <%= form.submit "Save", class: "btn-primary" %>
  <% end %>
</section>
