<div id="<%= dom_id film_location %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Film:</strong>
    <%= film_location.film_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= film_location.location_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fun facts:</strong>
    <%= film_location.fun_facts %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this film location", film_location, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this film location', edit_film_location_path(film_location), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
