<%= form_with(model: location, data: { turbo: false }) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="my-5">
    <%= form.label :find_neighborhood_id %>
    <%= form.number_field :find_neighborhood_id %>
  </div>

  <div class="my-5">
    <%= form.label :analysis_neighborhood_id %>
    <%= form.text_field :analysis_neighborhood_id %>
  </div>

  <div class="my-5">
    <%= form.label :supervisor_district_id %>
    <%= form.number_field :supervisor_district_id %>
  </div>

  <%= render 'shared/form_buttons', form: form %>
<% end %>
