<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Locations</h1>

  <%= quick_search({ name: 'NameContainsSource', 
                     locations: 'LocationsJumpToSource',
                     film_id: 'FilmsSource' },
                   placeholder: 'Search for films',
                   class: 'my-3') %>

  <%= form_with url: locations_path, 
                scope: :filter,
                method: :get,
                data: { controller: "filter",
                        action: "autocompleteSelection@document->filter#add" } do |form| %>
    <div class="flex flex-row">
      <div>
        <%= render @filter_chips, form: form %>
      </div>
    </div>
  <% end %>

  <div id="locations" class="min-w-full">
    <%= render @locations %>
  </div>

  <%= paginate(@locations, @query_params)%>
</div>
